*{
    background-color: cyan;
    color: white;
}
.container{
    border: solid blue 5px;
    border-radius: 10px;
    margin:5px;
    padding: 10px;
}
.color-blue{
    color: blue;
}

.btn{
    background-color: blue;
    padding: 8px;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
    margin-right: 10px;
}